@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Higher';
  src: url('../public/fonts/Higher.ttf');
  font-weight: bold;
  font-style: bold;
}

font.higher {
  font-family: 'Higher', 'Noto Sans', sans-serif, source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.font-link {
  font-family: 'Noto Sans', sans-serif, source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}
