@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-BlackItalic.ttf") format('truetype');
}

* {
  font-family: 'Poppins', 'Noto Sans', sans-serif, source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

body {
  background: #526A82;
  overflow: auto;
}

.skill {
  font-size: 14px;
  letter-spacing: 1px;
  margin-bottom: 5px;
}

.progressBar {
  background: #959595;
  margin-bottom: 5px;
  width: 600px;
  height: 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.progressBar div {
  height: 5px;
  border-radius: 5px;
  width: 0%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.progressBar div span {
  height: 15px;
  width: 30px;
  font-size: 9px;
  border-radius: 50%;
  background: #E0E5EB;
  float: right;
  margin-top: -3px;
  margin-right: -20px;
  color: #043263;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.html {
  background: #e74d3c;
  animation: html 1s linear forwards;
  -webkit-animation: html 1s linear forwards;
}

.css {
  background: #cddc39;
  animation: css 1s linear forwards;
  -webkit-animation: css 1s linear forwards;
}

.apis {
  background: #00bcd4;
  animation: apis 1s linear forwards;
}

.js {
  background: #f1c40e;
  animation: js 1s linear forwards;
}

.mysql {
  background: #9b58b6;
  animation: mysql 1s linear forwards;
}

.net {
  background: #3398db;
  animation: net 1s linear forwards;
  -webkit-animation: net 1s linear forwards;
}

.react {
  background: #1abc9c;
  animation: react 1s linear forwards;
}

.html span {
  border: 1px solid #e74d3c;
}

.css span {
  border: 1px solid #cddc39;
}

.apis span {
  border: 1px solid #00bcd4;
}

.js span {
  border: 1px solid #f1c40e;
}

.mysql span {
  border: 1px solid #9b58b6;
}

.net span {
  border: 1px solid #3398db;
}

.react span {
  border: 1px solid #1abc9c;
}

@keyframes html {
  100%{
    width: 90%;
  }
}

@keyframes css {
  100% {
    width: 80%;
  }
}

@keyframes apis {
  100% {
    width: 90%;
  }
}

@keyframes js {
  100% {
    width: 85%;
  }
}

@keyframes mysql {
  100% {
    width: 75%;
  }
}

@keyframes net {
  100% {
    width: 40%;
  }
}

@keyframes react {
  100% {
    width: 70%;
  }
}